.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
    padding: 50px 90px;
    background-image: url("https://res.cloudinary.com/de2od3piw/image/upload/v1670456611/pics/kenzie_blog_desenvolvedor-de-software_cv6evn.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: antiquewhite;
}

.mainContainer h1{
    margin-bottom: 50px;
    font-size: 50px;
}

.cardContainer{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 20px 20px; 
}