.cardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    padding-bottom: 20px;
}

.verticalLine{
    position: absolute;
    z-index: 1;
    height: 1600px;
    width: 8px;
    border-radius: 10px;
    background-color: white;
    left: 50%;
   }


.cardPosition:nth-child(odd){
    margin-bottom: 20px;
    position: relative;
    right: 14.7%;
    z-index: 10;
}

.cardPosition:nth-child(even){
    margin-bottom: 20px;
    position: relative;
    left: 15.3%;
    z-index: 10;
}

.iconEnd{
    width: fit-content;
    font-size: 20px;
    left: 47.2%;
    padding: 10px;
    border: 2px solid var(--main-color);
    border-radius: 9999px;
    margin: 0px 20px 30px;
    background-color: var(--cardColor);
    color: var(--main-color);
    box-shadow: -2px 6px 10px 2px rgba(0,0,0,0.49);
    -webkit-box-shadow: -2px 6px 10px 2px rgba(0,0,0,0.49);
    -moz-box-shadow: -2px 6px 10px 2px rgba(0,0,0,0.49);
    position: relative;
    z-index: 10;
}